/* Footer  */

.Footer {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 2px solid #ddd;
  box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.1);
  animation: slideIn 1s ease-out;
}

.pagination {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: 'Arial', sans-serif;
}

.pagination button {
  padding: 10px 15px;
  font-size: 16px;
  color: white;
  background-color: #007bff; /* Primary blue color */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.pagination button:hover {
  background-color: #0056b3; /* Darker blue for hover effect */
  transform: scale(1.1); /* Slight zoom effect */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.pagination button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
  transform: none;
  box-shadow: none;
}

.page-input {
  width: 80px;
  padding: 8px 10px;
  font-size: 16px;
  border: 2px solid #007bff;
  border-radius: 5px;
  outline: none;
  text-align: center;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.page-input:focus {
  border-color: #0056b3;
  box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
}

.pagination span {
  font-size: 16px;
  font-weight: bold;
  color: #555;
}

@keyframes slideIn {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}



